<!DOCTYPE html>
{% load staticfiles %}
<html ng-app='MyBlog'>
    <head>
        <meta charset="UTF-8">
        <title>HuyVo Demo Django Frame Work 1.8</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/coreblog.css"/>
        <script type="text/javascript" src="/static/js/jquery-1.11.3.min.js">
         </script>
         <script src="/static/js/modernizr.js"></script> 
          <script type="text/javascript">
              $(window).load(function(){
                $(".preloader").fadeOut("slow");
          });
          </script>
    </head>
    <body >
    <div class="preloader">
   <div> Đang tải ...<img src="/media/files/image/Preloader_2.gif"/></div>
</div>
    	<h1><a href="/">Blog Project</a></h1>
        <div class="page-header">
            <a href="{% url "post_new" %}" class="top-menu"><span class="glyphicon glyphicon-plus"> </span>Thêm mới</a>
            
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
       
    </body>
</html>