{% extends "blog/base.html" %}
{% block content %}
<h1>Tìm kiếm</h1>

<form method="get" action="/search_post/" class="well form-search">
    <p><label for="id_search-query">Lọc:</label>
    <input type="text" name="search-query" id="id_search-query"  placeholder="Tiêu đề..." autofocus />
    <input type="submit" value="Tìm kiếm">
</form>
    <div class="table-responsive">
           <span><a href="/client" class="mct_whatsapp_btns"> call API WS </a></span>
            <span style="margin-left: 10px;"><a href="/client_search" class="mct_whatsapp_btns"> search API WS </a></span>
           <table class="table table-hover">
            <thead>
           	<tr>
           		<th class="col-sm-1">
           		  Tiêu đề
           		</th>
              <th class="col-sm-1">
                Hình ảnh
              </th>
           		<th class="col-sm-6">
           		  Nội dung
           		</th>
           		<th class="col-sm-1">
           		  Ngày xuất bản
           		</th>
              <th class="col-sm-1">
                Share
              </th>
           	</tr>
           	</thead>
           	<tbody>
           	  {% for post in posts %}
           		<tr>              
           		<td>
           		  <p><a href="{% url "post_detail" pk=post.pk %}">{{ post.title }}</a></p>
           		</td>
              <td>
               <a href="{% url "post_detail" pk=post.pk %}"> <img src="{{ post.imgfile.url }}" alt="{{ post.imgfile.name }}" class="img-responsive" width="100" height="120" title="{{ post.imgfile.name }}" /></a>
              </td>
           		<td>
           		 <p>{{ post.text}}</p>  
           		</td>
           		<td>
           		 <p> 
           		 {{ post.published_date|date:"d/m/Y H:m:s" }}
           		 </p>      
           		</td> 
              <td>
              <div class="row">
                
                  <a href="#" data-text="{{ post.text}}" data-link="{% url "post_detail" pk=post.pk %}" class="mct_whatsapp_btn">Share</a>
                
              </div>
              </td>          		
           	</tr>
           	{% endfor %}
           	</tbody>
           </table>
           <!-- phan trang-->
            <ul class="pager">
				    
				        {% if posts.has_previous %}
                 <li class="previous">
				            <a href="?page={{ posts.previous_page_number }}">&larr; Trước</a>
                    </li>
                    {% else %}
        <li class="previous disabled prev"><a href="#">&lsaquo;&lsaquo;</a></li>
				        {% endif %}
                {% for i in posts.paginator.page_range %}
                 <li {% if posts.number == i %} class="active" {% endif %}><a   href="?page={{i}}">{{i}}</a></li>

                {% endfor %}
				        <li>
				            Trang {{ posts.number }} / {{ posts.paginator.num_pages }}.
				        </li>
				        {% if posts.has_next %}
                <li class="next">
				            <a href="?page={{ posts.next_page_number }}">Tiếp theo &rarr;</a>
                    </li>
                    {% else %}
          <li class="next disabled"><a href="#">&rsaquo;&rsaquo;</a></li>
				        {% endif %}
				    
		       </ul>

        <ul class="pagination pagination-centered">
            {% if page_obj.has_previous %}
                <li><a href="?page=1"><<</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
            {% endif %}

            {% for i in paginator.page_range %}
                <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
            {% endif %}
        </ul>
    
            <!-- ket thuc-->
      </div>  
      <!--Demo Share content using Whatapps--> 

<script type="text/javascript">
$(document).ready(function() {
    $(document).on("click", '.mct_whatsapp_btn', function() {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            var text = $(this).attr("data-text");
            var url = $(this).attr("data-link");
            var message = encodeURIComponent(text) + " - " + encodeURIComponent(url);
            var whatsapp_url = "whatsapp://send?text=" + message;
            window.location.href = whatsapp_url;
        } else {
           var okie= confirm('Bạn có muốn share lên Whatsapp ?') 
           if (okie) {
              var text = $(this).attr("data-text");
              var url = $(this).attr("data-link");
              var message = encodeURIComponent(text) + " - " + encodeURIComponent(url);
              var whatsapp_url = "whatsapp://send?text=" + message;
              window.location.href = whatsapp_url;
            } else {
                alert ('Thanks');
            }
        }
    });
});
</script>
{% endblock %}