<html>
    <head>
        <title>Demo</title>
    </head>
    <body>
      
        <div>
           <label>
           	Get Data: 
           </label>
           <table>
           	<tr style="background:#f38826">
           		<td>
           		  title
           		</td>
           		<td>
           		  text
           		</td>
           		<td>
           		  published
           		</td>
           	</tr>
           	  {% for post in posts %}
           		<tr>
           		
    				
        		
           		<td>
           		  <p><a href="{% url "post_detail" pk=post.pk %}">{{ post.title }}</a></p>
           		</td>
           		<td>
           		 <p>{{ post.text}}</p>  
           		</td>
           		<td>
           		 <p> 
           		 {{ post.published_date|date:"d/m/Y" }}
           		 </p>      
           		</td>
           		
           	</tr>
           	{% endfor %}
           </table>
         
        </div>
    </body>
</html>
