{% extends "blog/base.html" %}
{% block content %}
    <div class="table-responsive">
           <table class="table table-hover">
            <thead>
           	<tr>
           		<th class="col-sm-1">
           		  Tiêu đề
           		</th>
              <th class="col-sm-1">
                Hình
              </th>
           		<th class="col-sm-6">
           		  Nội dung
           		</th>
           		<th class="col-sm-1">
           		  Ngày xuất bản
           		</th>
           	</tr>
           	</thead>
           	<tbody>
           	  {% for post in posts %}
           		<tr>
              
           		<td>
           		  <p><a href="{% url "post_detail" pk=post.pk %}">{{ post.title }}</a></p>
           		</td>
              <td>
                <img src="{{ post.imgfile.url }}" alt="{{ post.imgfile.name }}" class="img-circle" width="100" height="120" title="{{ post.imgfile.name }}" />
              </td>
           		<td>
           		 <p>{{ post.text}}</p>  
           		</td>
           		<td>
           		 <p> 
           		 {{ post.published_date|date:"d/m/Y" }}
           		 </p>      
           		</td>           		
           	</tr>
           	{% endfor %}
           	</tbody>
           </table>
           <!-- phan trang-->
            <div class="pagination">
				    <span class="step-links">
				        {% if posts.has_previous %}
				            <a href="?page={{ posts.previous_page_number }}">Trước</a>
				        {% endif %}

				        <span class="current">
				            Trang {{ posts.number }} / {{ posts.paginator.num_pages }}.
				        </span>

				        {% if posts.has_next %}
				            <a href="?page={{ posts.next_page_number }}">Tiếp theo</a>
				        {% endif %}
				    </span>
			</div>
            <!-- ket thuc-->
           </div>   
           
{% endblock %}

